on:
  pull_request:
    branches: [main]

name: SLO

jobs:
  test-slo:
    if: github.event.pull_request.head.repo.full_name == 'zork33/ydb-nodejs-sdk'
    uses: ydb-platform/slo-tests/.github/workflows/slo.yml@main
    secrets: inherit
    with:
      language_id: nodejs
      language: nodejs
      workload_path: slo-workload
